doctype html
html(lang='en')
    head
        title World mood
        link(href='assets/style.css', rel="stylesheet", type='text/css')
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-117154717-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-117154717-1');
    body
        h1 What is your mood today?
        .moods
            a(href="record?mood=happiest")
                img(src="assets/happiest.svg")
            a(href="record?mood=happy")
                img(src="assets/happy.svg")
            a(href="record?mood=meh")
                img(src="assets/meh.svg")
            a(href="record?mood=sad")
                img(src="assets/sad.svg")
            a(href="record?mood=saddest")
                img(src="assets/saddest.svg")
        .footer
            .stats
                a(href="stats")
                    img(src="/assets/world.svg")
                p World mood stats
            .flo
                a(href="https://flo.cash")
                    img(src="/assets/FLOblockchainLogo.svg")
            .more
                a(href="more")
                    p What is this?

