doctype html
html(lang='en')
    head
        title World mood
        link(href='assets/style.css', rel="stylesheet", type='text/css')
    body
        h1 What is worldmood.io?
        p This is a simple app to illustrate how to use oip-js to post and read information in the Blockchain of FLO.
        p It aims to record the "mood" of everyone who visits the website and post that information in the FLO blockchain.
        p Maybe it should not be named worldmood.io but peoplewhocometothiswebsitemood.io
        p ... and if a lot of people start using it, then we will probably need to come up with another scheme for it.
        p Cheers
        .links
            a(href="https://github.com/daviortega/worldmood")
                img(src="assets/github.svg")
            a(href="https://twitter.com/worldmoodFLO")
                img(src="assets/twitter.jpg")
            a(href="/")
                p Back!